<div class="container login">
<div class="row">
  <div class="col-md-2 col-md-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Forgot your password?</h2>
        <hr class="colorgraph">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email Address" %>
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <%= f.submit "Submit", class: "btn btn-lg btn-success btn-block" %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-12 text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
