<nav class="navbar text-center bg-white">

  <div class="col-sm-1"></div>

  <div class="col-sm-2 d-flex justify-content-begin">
    <%= link_to "足柄", root_path, style: "color: black; text-decoration: none;", class:"navbar-brand" %>
  </div>

  <form class="col-sm-6 form-inline d-flex justify-content-center">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: 75%">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <div class="col-sm-2 btn-group d-flex justify-content-end">
    <div>
      <img style="width: 40px; height: 40px;" src="assets/images/avatar.jpg" class="rounded-circle dropdown-toggle" data-toggle="dropdown" />

      <div class="dropdown-menu">
        <%= link_to "プロフィール", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "プロファイル編集", edit_user_registration_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  </div>

  <div class="col-sm-1"></div>

</nav>