<%= link_to shoe_path(shoe) do %>
  <th>
    <div class="custom-card">
      <img style="width: 100%; height: 300px;" src=<%= shoe.shoe_images.first.image %>>
    </div>
    <div style="margin: 20px 20px 0px 20px;" class="text-center"><%= shoe.name %></div>
    <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center"><%= shoe.money_worthy %></div>
  </th>
  <th></th>
<% end %>
