<%= link_to shoe_path(shoe) do %>
  <th>
    <div class="custom-card">
      <img class="img-fluid" style="width: 235px; height: 170px;" src=<%= shoe.shoe_images.first.image %>>
    </div>
    <div style="padding-top: 30px;" class="text-center"><%= link_to shoe.name, shoe_path(shoe) %></div>
    
    <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center"><%= shoe.money_worthy %></div>
  </th>
  <th></th>
<% end %>
