<div>
  <img src="https://firebasestorage.googleapis.com/v0/b/tripbook-7b00c.appspot.com/o/bg_one.png?alt=media&token=78a241fa-5129-435b-b80e-66ae3b283757" style="width: 100%; margin-top: -60px">
</div>

<div class="row" style="margin-top: 70px">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 title text-center">
    人気靴
    <br>
    <span style="font-size: 16px; color: gray;">トップシューズは週に販売されています！</span>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="w3-content w3-display-container">
  <div class="row mySlides" style="margin-top: 40px">
    <div>
      <table>
        <col width="23.5%">
        <col width="2%">
        <col width="23.5%">
        <col width="2%">
        <col width="23.5%">
        <col width="2%">
        <col width="23.5%">
        <tr>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">asdads Cardigan</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$26.00</div>
          </th>
          <th></th>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
          </th>
          <th></th>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
          </th>
          <th></th>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
          </th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mySlides" style="margin-top: 40px">
    <div>
      <table>
        <col width="23.5%">
        <col width="2%">
        <col width="23.5%">
        <col width="2%">
        <col width="23.5%">
        <col width="2%">
        <col width="23.5%">
        <tr>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Pieces Cardigan</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$26.00</div>
          </th>
          <th></th>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
          </th>
          <th></th>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
          </th>
          <th></th>
          <th>
            <div class="custom-card">
              <img style="width: 100%; height: 300px;" src="shoes21.jpg">
            </div>
            <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
            <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
          </th>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row" style="margin-top: 50px">
    <div class="col-sm-5"></div>
    <div class="col-sm-1">
      <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    </div>
    <div class="col-sm-1">
      <button class="w3-button w3-display-right w3-black" onclick="plusDivs(+1)">&#10095;</button>
    </div>
    <div class="col-sm-5" ></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div style="width: 600px; height: 1px; background: black; margin-top: 100px;" class="col-sm-6"></div>
  <div class="col-sm-3" ></div>
</div>

<div class="row" style="margin-top: 70px">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 title text-center">
    新発売
    <br>
    <span style="font-size: 16px; color: gray;">トップシューズは週に販売されています！</span>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row" style="margin-top: 40px">
  <div class="col-sm-1 arrow-left">
    <img >
  </div>

  <div class="col-sm-10">
    <table>
      <col width="23.5%">
      <col width="2%">
      <col width="23.5%">
      <col width="2%">
      <col width="23.5%">
      <col width="2%">
      <col width="23.5%">
      <tr>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Pieces Cardigan</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$26.00</div>
        </th>
        <th></th>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
        </th>
        <th></th>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
        </th>
        <th></th>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
        </th>
      </tr>
    </table>
  </div>

  <div class="col-sm-1"></div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div style="width: 600px; height: 1px; background: black; margin-top: 100px;" class="col-sm-6"></div>
  <div class="col-sm-3" ></div>
</div>

<div class="row" style="margin-top: 70px">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 title text-center">
    ランダム
    <br>
    <span style="font-size: 16px; color: gray;">トップシューズは週に販売されています！</span>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row" style="margin-top: 40px; margin-bottom: 50px">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <table>
      <col width="23.5%">
      <col width="2%">
      <col width="23.5%">
      <col width="2%">
      <col width="23.5%">
      <col width="2%">
      <col width="23.5%">
      <tr>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Pieces Cardigan</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$26.00</div>
        </th>
        <th></th>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
        </th>
        <th></th>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
        </th>
        <th></th>
        <th>
          <div class="custom-card">
            <img style="width: 100%; height: 300px;" src="shoes21.jpg">
          </div>
          <div style="margin: 20px 20px 0px 20px;" class="text-center">Sleeve Knit</div>
          <div style="color: red; margin: 0px 20px 20px 20px;" class="text-center">$55.00</div>
        </th>
      </tr>
    </table>
  </div>

  <div class="col-sm-1"></div>
</div>

<div class="row">
  <div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://firebasestorage.googleapis.com/v0/b/tripbook-7b00c.appspot.com/o/Minh.jpg?alt=media&token=79a5326a-3512-44cc-84f2-60b17b2df60c"></a>
  <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
  <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>

$(document).ready(function(){
  $('.carousel').carousel();
});
    
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>